*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img{
	max-width: 100%;
}


ul {
	list-style-type: none;
}





.first-a {
	color: gray;
	text-decoration: none;
}

body{
	font-family: 'Open Sans', sans-serif;
}


/* HEADER */
/* UTILITIES */
.flex{
	display: flex;
}

.p-l-20{
	padding-left: 30px;
}

.space-between{
	justify-content: space-between;
}

.center{
	justify-content: center;
}

.p-t-20{
	padding-top: 20px;
}


.container-head{
	height: 50px;
	width: 100%;
	/* debug */
	padding-top: 10px;
	background-color: white;
	gap: 10px;
	display: flex;
	justify-content: space-between;
	position: fixed;
   top: 0;
   left: 0;
   z-index: 999;	
	
}


.list-item, .list-item-2{
	padding: 10px;
	
}


.list-item-2:last-child{
	background-color: rgb(39, 19, 221);
	color: white;
	
}


.head-left, .head-right {
	min-height: 50px;
	min-width: 30%;
	justify-content: space-between;
	
	/* DEBUG */
}
.top-container{
	display: flex;
	justify-content: center;
	background-color:  #b4d0e7;
}

.container-2{
	height: 70vh;
	width: 70%;
	
	display: flex;
	justify-content: center;
	margin-top: 60px;
	
}

.big-square{
	height: 40vh;
	padding-top: 15px;
	display: flex;
	justify-content: center;

}



.text-col-30{
	padding-bottom: 20px;
}

.wrap{
	justify-content: center;
}

h1{
	font-size: 75px;
	padding-bottom: 20px;	
}

.title{
	padding-top: 50px;
	width: 100%;
	height: 20vh;
	;
	
}



.col-30{
	width: 30%;
	height: 50vh;

}


.col-70{
	width: 70%;
	height: 60vh;
	background-image: url(../img/jumbo.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


.prova{
	background-color: rgb(39, 19, 221);
	padding: 10px;
	color: white; 	
	text-decoration:none;
}

.entieties{
	font-size: 30px;
}

/* /HEADER */
.container-3{
	/* width: 100%;
	height: 100%; */
	display: flex;
	margin-top: 200px;
	justify-content: center;

}
.content-container-main{
	width: 50%;
	min-height: 100vh;
	
	
}


.col-purple{
	width: 100%;
	min-height: 80px;	
	margin-top: 25px;
	align-items: center;
	border: 1px  solid ;

}
.team{
	border: 1px solid;
	padding: 10px;
}

.title-purple{
	font-size: 40px;
	
}
.cont-purple-70{
	width: 70%;

}


.cont-purple-30{
	margin-top: 30px;
}

.cont-purple-70, .cont-purple-30{
	margin: 20px;
}

.radio{
	margin: 20px 30px;
}


.column{
	height: 100vh;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
		
}
.card-1{
	min-height: 20vh;
	width: 100%;

	padding: 10px;
}


.col-1{
	width: calc(100% / 3);
	height: 100%;
	padding: 10px;
	border: 1px solid;
	margin: 10px;
	
}





.blue-green{
	height: 65vh;
	width: 100%;
	margin-top: 15px;
	display: flex;
}



.blue{
	width: 100%;
	height: 100%;
	background-image:url(../img/partner.png) ;
	background-repeat: no-repeat;
	background-size: 100%;
}


.green{
	width: 40%;
	height: 100%;
	padding-top: 50px ;
	padding-left: 30px;
}

.link-partner{
	border: 1px solid black;
	text-decoration: none;
	color: black;
	padding: 10px;
	
}



.column2{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.card-2{
	min-height: 20vh;
	width: 100%;
	padding: 10px;
}


.col-2{
	padding: 10px;
	margin: 10px;
	width: calc(100%/4);
	
}



.low{
	width: 50%;
	height: 20vh;
	margin-top:200px;
}
.title-low{
	font-size: 30px;
}



.container-square{
	min-height: 40vh;
	display: flex;
	justify-content: space-between ;
	gap: 10px;
}



.section-square{
	height: 100%;
	background-color: aqua;

}

.square{
	height: 25%;
	width: calc(100% /2);
	
}


.container-4{
	width: 100%;
	min-height: 30vh;
	background-color: #b4d0e7;
	display: flex;
	justify-content: center;
}


.orange{
	width: 40%;
	min-height: 20vh;
	/* debug */
	/* background-color: orange; */
	align-items: center;
}

.text-orange{
	font-size: 30px;
}


.pink{
	width: 20%;
	min-height: 20vh;
	align-items: center;
}

.link-pink {
	border: 1px solid black;
	background-color: white;
	text-decoration: none;
	color: black;
	padding: 10px;
	
}


.big-square-brown{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}


.square-brown{
	padding-top: 20px;
	width: 60%;
	min-height: 50vh;
	/* DEBUG */
	/* background-color: brown; */
	
}


.container-column{
	min-height: 50vh;
	background-color: black;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}


.item-col{
	min-height: 30vh;
	min-width: 150px;
	/* DEBUG */
	/* background-color: gold; */
	margin-top: 10px;
}

.ultimate-list > li{
	padding: 15px;
	color: white;
}
/* FOOTER */

/*/ FOOTER */