*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img{
	max-width: 100%;
}


ul {
	list-style-type: none;
}



a{
	color: gray;
	text-decoration: none;
}

body{
	font-family: 'Open Sans', sans-serif;
}


/* HEADER */
/* PARTE SUPERIORE */
.flex{
	display: flex;
}


.space-between{
	justify-content: space-between;
}


.container-head{
	height: 50px;
	width: 100%;
	/* debug */
	padding-top: 10px;
	background-color: white;
	gap: 10px;
	display: flex;
	justify-content: space-between;
	position: fixed;
   top: 0;
   left: 0;
   z-index: 999;	
	
}


.list-item, .list-item-2{
	padding: 10px;
	
}


.list-item-2:last-child{
	background-color: rgb(39, 19, 221);
	color: white;
	
}


.head-left, .head-right {
	min-height: 50px;
	min-width: 30%;
	justify-content: space-between;
	
	/* DEBUG */
}

.container2{
	height: 100vh;
	width: 100%;
	background-color: rgb(134, 200, 221);
	display: flex;
	justify-content: center;
	margin-top: 60px;
	
}

.big-square{
	height: 40vh;
	border: 1px solid black;
	padding-top: 15px;
	display: flex;
	justify-content: center;
}

.wrap{
	justify-content: center;
}

.img-1{
	background-size: cover;
}

.title{
	width: 100%;
	height: 20vh;
	font-size: 30px;
	
	
}

/* [class^="col"]{
	min-height: 200px;
	border: 1 solid black;
} */

.col-30{
	width: 30%;
	height: 50vh;
}


.col-70{
	width: 70%;
	height: 50vh;
	background-image: url(../img/jumbo.png);
	background-size: cover;
}

/* /HEADER */
.container{
	/* width: 100%;
	height: 100%; */
	display: flex;
	justify-content: center;
	margin-top: 200px ;
	border: 1px solid black;
}
.content-container-main{
	width: 50%;
	min-height: 100vh;
	
	
}
.col-purple{
	width: 100%;
	height: 80px;
	background-color: purple;
}
.column{
	height: 50vh;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	
}
.card{
	min-height: 20vh;
	width: 100%;
	background-color: gray;
	padding: 10px;
}

.blue-green{
	height: 30vh;
	width: 100%;
	margin-top: 10px;
	display: flex;
}

.blue{
	width: 70%;
	height: 100%;
	background-color: blue;
}
.green{
	width: 30%;
	height: 100%;
	background-color: greenyellow;
}
.col{
	width: calc(100% / 3);
	height: 100%;
	padding: 10px;
	
}

.column2{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.low{
	width: 70%;
	height: 20vh;
	background-color: blue;
}

.container-square{
	height: 40vh;
	display: flex;
	justify-content: space-between ;
	gap: 10px;
}

.section-square{
	width: 100%;
	height: 100%;
	background-color: aqua;
}
.container-2{
	width: 100%;
	min-height: 30vh;
	background-color: bisque;
	display: flex;
	justify-content: center;
}
.orange{
	width: 40%;
	min-height: 20vh;
	background-color: orange;
}
.pink{
	width: 20%;
	min-height: 20vh;
	background-color: palevioletred;
}

.big-square-brown{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.square-brown{
	width: 50%;
	min-height: 50vh;
	background-color: brown;
	
}
.container-column{
	min-height: 50vh;
	background-color: black;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.item-col{
	min-height: 30vh;
	min-width: 150px;
	background-color: gold;
	margin-top: 10px;
}
/* FOOTER */

/*/ FOOTER */